apiVersion: v1
kind: ConfigMap
metadata:
  name: ergochat
  labels:
    app: ergochat
data:
  ERGO__DATASTORE__MYSQL__USER: "ergochat"
  ERGO__DATASTORE__MYSQL__HISTORY_DATABASE: "ergochat"
  "auth.sh": |-
    #!/bin/sh
    read input
    wget --header='CONTENT-TYPE:application/json' --post-data "$input" -O - -q $1 && printf '\n' # This assume no endline ohne the API response

    #For testing:
    #printf '{"success": true, "accountName": "Brutus5000", "error": null}\n'

  "ircd.yaml": |-
{{ tpl ( .Files.Get "config/ircd.yaml") . | indent 4}}