apiVersion: apps/v1
kind: Deployment
metadata:
  name: faf-user-service
  labels:
    app: faf-user-service
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: faf-user-service
  template:
    metadata:
      labels:
        app: faf-user-service
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '8081'
        prometheus.io/path: '/actuator/prometheus'
    spec:
      containers:
        - image: faforever/faf-user-service:master
          imagePullPolicy: Always
          name: faf-user-service
          envFrom:
            - configMapRef:
                name: faf-user-service
            - secretRef:
                name: faf-user-service
          volumeMounts:
            - name: mail-templates
              mountPath: /config/mail/
              readOnly: true
          ports:
            - containerPort: 8080
          resources:
            limits:
              memory: 10Gi
              cpu: 3000m
          startupProbe:
            httpGet:
              port: 8080
              path: /q/health
            failureThreshold: 10
            periodSeconds: 3
          livenessProbe:
            httpGet:
              port: 8080
              path: /q/health
            failureThreshold: 3
            periodSeconds: 10
      restartPolicy: Always
      volumes:
        - name: mail-templates
          configMap:
            name: faf-user-service-mail-templates
