argo-cd:
  # Because fucking is the way of life
  configs:
    cm:
      create: true

      # -- Argo CD's externally facing base URL (optional). Required when configuring SSO
      url: "https://argocd.faforever.xyz"

      # -- Enable logs RBAC enforcement
      ## Ref: https://argo-cd.readthedocs.io/en/latest/operator-manual/upgrading/2.3-2.4/#enable-logs-rbac-enforcement
      server.rbac.log.enforce.enable: false

      # -- Enable exec feature in Argo UI
      ## Ref: https://argo-cd.readthedocs.io/en/latest/operator-manual/rbac/#exec-resource
      exec.enabled: false

      # -- Enable local admin user
      ## Ref: https://argo-cd.readthedocs.io/en/latest/faq/#how-to-disable-admin-user
      admin.enabled: true

      # -- Timeout to discover if a new manifests version got published to the repository
      timeout.reconciliation: 180s

      dex.config: |
        connectors:
        - type: github
          # Required field for connector id.
          id: github
          # Required field for connector name.
          name: GitHub
          config:
            clientID: 838e6d390d5cf6932ca5
            clientSecret: $dex-github:GITHUB_CLIENT_SECRET
            orgs:
              - name: FAForever
                # A white list of teams. Only include group claims for these teams.
                teams:
                - argocd-test
                # Flag which indicates that all user groups and teams should be loaded.
                loadAllGroups: true
                useLoginAsID: true

    rbac:
      policy.default: role:readonly
      policy.csv: |
        p, role:org-admin, applications, *, */*, allow
        p, role:org-admin, clusters, get, *, allow
        p, role:org-admin, repositories, get, *, allow
        p, role:org-admin, repositories, create, *, allow
        p, role:org-admin, repositories, update, *, allow
        p, role:org-admin, repositories, delete, *, allow
        p, role:org-admin, projects, get, *, allow
        p, role:org-admin, projects, create, *, allow
        p, role:org-admin, projects, update, *, allow
        p, role:org-admin, projects, delete, *, allow
        p, role:org-admin, logs, get, *, allow
        p, role:org-admin, exec, create, */*, allow
        g, FAForever:argocd-test, role:org-admin
      scopes: "[groups]"
