dataPath: "/opt/faf/data"
managedStorages:
  # template:
  # - pv:
  #     name: template
  #     folderName: optional string, default is pv.name
  #     size: 10Gi
  #   pvc:
  #     name: optional string, default is <pv.name>-pvc
  #     namespace: faf-apps
  - pv:
      name: faf-replays
      folderName: replays
      size: 500Gi
    pvc:
      namespace: faf-apps
  - pv:
      name: faf-maps
      folderName: maps
      size: 200Gi
    pvc:
      namespace: faf-apps
  - pv:
      name: faf-mods
      folderName: mods
      size: 200Gi
    pvc:
      namespace: faf-apps
  - pv:
      name: faf-featured-mods
      folderName: legacy-featured-mod-files
      size: 150Gi
    pvc:
      namespace: faf-apps
  - pv:
      name: faf-content
      folderName: content
      size: 50Gi
    pvc:
      namespace: faf-apps
  - pv:
      name: wordpress
      size: 10Gi
    pvc:
      namespace: faf-apps
  - pv:
      name: phpbb3-archive
      size: 2Gi
    pvc:
      namespace: faf-apps
  - pv:
      name: ergochat
      size: 1Gi
    pvc:
      namespace: faf-apps
#  - name: mariadb
#    namespace: faf-apps
#    size: 20Gi
#  - name: mongodb
#    namespace: faf-apps
#    size: 20Gi
#    size: 10Gi
#  - name: nodebb
#    namespace: faf-apps
#    size: 10Gi
