# See faf-rust-replayserver repository, docs/usage.rst for documentation.
server:
  port: 15000
  prometheus_port: 8011
  worker_threads: 4
  connection_accept_timeout_s: 21600
database:
  pool_size: 8
  host: mariadb
  port: 3306
  user: faf-legacy-live-replay-server
  name: faf_lobby
storage:
  vault_path: /data/replays
  compression_level: 10
replay:
  forced_timeout_s: 18000
  time_with_zero_writers_to_end_replay_s: 30
  delay_s: 300
  update_interval_s: 1
  merge_quorum_size: 2
  stream_comparison_distance_b: 4096