apiVersion: traefik.io/v1alpha1
kind: TLSOption
metadata:
  name: default
spec:
  sniStrict: true
  minVersion: VersionTLS12
  cipherSuites:   
    - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
    - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256

---
apiVersion: traefik.io/v1alpha1
kind: TLSOption
metadata:
  name: mintls13
spec:
  minVersion: VersionTLS13
