# This TLSStore points to a secret that contains a Cloudflare certificate that we use for passthrough
{{- if .Values.traefik.tlsStoreSecret }}
apiVersion: traefik.io/v1alpha1
kind: TLSStore
metadata:
  name: default
  namespace: kube-system
spec:
  defaultCertificate:
    secretName: {{.Values.traefik.tlsStoreSecret}}
{{- end }}
