apiVersion: v1
kind: ConfigMap
metadata:
  name: faf-website
  labels:
    app: faf-website
data:
  NODE_ENV: "production"
  HOST: "https://www.{{.Values.baseDomain}}"
  API_URL: "https://api.{{.Values.baseDomain}}"
  OAUTH_URL: "https://hydra.{{.Values.baseDomain}}"
  WP_URL: "https://direct.{{.Values.baseDomain}}"

  WP_NEWSHUB_CATEGORYID: "283"
  WP_NEWSHUBARCHIVE_CATEGORYID: "284"

  TOKEN_LIFESPAN: "43200" # an api token is valid for 12h
  CLAN_INVITES_LIFESPAN_DAYS: "30"
  EXTRACTOR_INTERVAL: "5"
  PLAYER_COUNT_INTERVAL: "15"

  LEAGUES_UPDATE_INVERAL: "3600"
  LEADERBOARDS_UPDATE_INTERVAL: "900"
  RECENT_USERS_LIST_UPDATE_INVERVAL: "900"
  CLIENT_RELEASE_FETCHING_INTERVAL: "900"
  CLAN_LIST_UPDATE_INTERVAL: "900"
  PLAYER_COUNT_UPDATE_INTERVAL: "10"
