hostName: "fafprod3"
environment: "prod"
infisical-secret:
  enabled: true
  projectSlug: "k3s-cluster-zj-th"
  envSlug: "prod"
baseDomain: "faforever.com"
traefik:
  tlsStoreSecret: "cloudflare-faf-com"
zfs:
  nodeId: "fafprod3"