apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: whoami
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`whoami.{{.Values.baseDomain}}`)
      kind: Rule
      services:
        - name: whoami
          port: 80
