apiVersion: v1
kind: ConfigMap
metadata:
  name: wikijs-sso
  labels:
    app: wikijs
data:
  "definition.yml": |-
    key: faf-hydra
    title: FAF Ory Hydra Login
    author: Sheikah
    logo: https://{{ $.Values.baseDomain }}/images/faf-logo.png
    isAvailable: true
    useForm: false
    scopes:
      - openid
      - public_profile
    props:
      clientId:
        type: String
        title: Client ID
        hint: Application Client ID
        order: 1
      clientSecret:
        type: String
        title: Client Secret
        hint: Application Client Secret
        order: 2
      authorizationURL:
        type: String
        title: Authorization Endpoint URL
        hint: Application Authorization Endpoint URL
        order: 3
      tokenURL:
        type: String
        title: Token Endpoint URL
        hint: Application Token Endpoint URL
        order: 4
      issuer:
        type: String
        title: Issuer
        hint: Issuer URL
        order: 5
      logoutURL:
        type: String
        title: Logout URL
        hint: (optional) Logout URL on the OAuth2 provider where the user will be redirected to complete the logout process.
        order: 6
  "authentication.js": |-
    const OpenIDConnectStrategy = require('passport-openidconnect')

    module.exports = {
        init (passport, conf) {
            passport.use(conf.key,
            new OpenIDConnectStrategy({
              authorizationURL: conf.authorizationURL,
              tokenURL: conf.tokenURL,
              clientID: conf.clientId,
              clientSecret: conf.clientSecret,
              issuer: conf.issuer,
              callbackURL: conf.callbackURL,
              passReqToCallback: true,
              skipUserProfile: true
            }, async (req, iss, profile, cb) => {
              try {
                const user = await WIKI.models.users.processProfile({
                  providerKey: req.params.strategy,
                  profile: {
                    id: profile.id,
                    username: profile.username,
                    email: profile.username + '@faforever.com',
                  }
                })
                cb(null, user)
              } catch (err) {
                cb(err, null)
              }
            })
            )
        },
        logout(conf) {
            if (!conf.logoutURL) {
                return '/'
            } else {
                return conf.logoutURL
            }
        }
    }