apiVersion: v1
kind: ConfigMap
metadata:
  name: rabbitmq
  labels:
    app: rabbitmq
data:
  ADMIN_USER: "faf-admin"
  "enabled_plugins": "[rabbitmq_management,rabbitmq_prometheus]."
  "rabbitmq_conf": |-
    default_user = $(ADMIN_USER)
    default_pass = $(ADMIN_PASSWORD)
