apiVersion: v1
kind: ConfigMap
metadata:
  name: faf-icebreaker
  labels:
    app: faf-icebreaker
data:
  ENVIRONMENT: "{{ .Values.environment }}"
  HYDRA_URL: "https://hydra.{{.Values.baseDomain}}"
  SELF_URL: "https://ice.{{.Values.baseDomain}}"
  DB_USERNAME: "faf-icebreaker"
  DB_NAME: "faf-icebreaker"
  DB_URL: "jdbc:mariadb://mariadb:3306/faf-icebreaker?ssl=false"
  RABBITMQ_HOST: "rabbitmq"
  RABBITMQ_USER: "faf-icebreaker"
  RABBITMQ_PORT: "5672"
  CLOUDFLARE_ENABLED: "true"
  XIRSYS_ENABLED: "true"
  XIRSYS_TURN_ENABLED: "true"
  GEOIPUPDATE_EDITION_IDS: "GeoLite2-City"
  LOKI_BASE_URL: "http://monitoring-loki-gateway.faf-ops.svc"
  FORCE_RELAY: "true"
  REAL_IP_HEADER: "Cf-Connecting-Ip"
  QUARKUS_LOG_CATEGORY__COM_FAFOREVER__LEVEL: "TRACE"