apiVersion: apps/v1
kind: Deployment
metadata:
  name: faf-icebreaker
  labels:
    app: faf-icebreaker
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: faf-icebreaker
  template:
    metadata:
      labels:
        app: faf-icebreaker
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '8081'
        prometheus.io/path: '/actuator/prometheus'
    spec:
      containers:
        - image: faforever/faf-icebreaker:main
          imagePullPolicy: Always
          name: faf-icebreaker
          envFrom:
            - configMapRef:
                name: faf-icebreaker
            - secretRef:
                name: faf-icebreaker
          ports:
            - containerPort: 8080
          startupProbe:
            httpGet:
              port: 8080
              path: /q/health
            failureThreshold: 10
            periodSeconds: 3
          livenessProbe:
            httpGet:
              port: 8080
              path: /q/health
            failureThreshold: 3
            periodSeconds: 10
      restartPolicy: Always

