apiVersion: v1
kind: ConfigMap
metadata:
  name: faf-lobby-server
  labels:
    app: faf-lobby-server
data:
  CONFIGURATION_FILE: "/config/config.yaml"
  # Redundant, but required for rabbitmq/mariadb init script
  MQ_USER: "faf-lobby-server"
  DB_LOGIN: "faf-python-server"
  DB_NAME: "faf_lobby"
  HYDRA_JWKS_URI: "https://hydra.{{ .Values.baseDomain }}/.well-known/jwks.json"
  "config.yaml": |-
{{ tpl ( .Files.Get "config/config.yaml" ) . | indent 4 }}
