name: Checks

on:
  push:
  pull_request:
    branches:
      - develop

jobs:
  checks:

    runs-on: ubuntu-latest
    container:
      image: docker/tilt:latest

    steps:
      - uses: actions/checkout@v4

      - uses: azure/setup-helm@v4.3.1

      - name: Create k8s Kind Cluster
        run: ctlptl create cluster kind --registry=ctlptl-registry

      - name: Test Using Local Config
        run: tilt ci --timeout "5m"

      
