name: Checks

on:
  push:
  pull_request:
    branches:
      - develop

jobs:
  checks:

    runs-on: ubuntu-latest
    container:
      image: docker/tilt:latest

    steps:
      - uses: actions/checkout@v4

      - name: Create k8s Kind Cluster
        run: ctlptl create cluster kind --registry=ctlptl-registry

      - name: Install Helm
        run: curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-4 | bash

      - name: Test Using Local Config
        run: tilt ci --timeout "5m"

      
