apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: wordpress
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`direct.{{.Values.baseDomain}}`)
      kind: Rule
      services:
        - name: wordpress
          port: 80
